BACKEND_URL=https://api.cheevo.vip
NEXT_PUBLIC_SITE_URL=https://cheevo.events
NEXT_PUBLIC_APP_STORE_URL=https://apps.apple.com/app/cheevo
NEXT_PUBLIC_PLAY_STORE_URL=https://play.google.com/store/apps/details?id=events.cheevo.app
APPLE_APP_ID=Q47JK367YP.events.cheevo.app
ANDROID_CERT_SHA256=E4:2A:50:61:0C:37:86:0C:34:20:A1:3E:F0:01:93:88:9F:3B:8B:92:1E:98:11:E0:87:37:97:FE:60:EA:A3:1A
